body {
  background-color: #d1c2aa;
  font-family: 'Montserrat', sans-serif;
}

p1 {
  opacity: 90%;
  top: 15vh;
  left: 29vw;
  position: fixed;
  font-size: 3.55rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  padding: 0 5px;
  background: linear-gradient(to bottom, transparent 50%, #2a9d8f 50%);
}

.accordion-container {
  position: absolute;
  right: 20px;
  top: 15vh;
  width: 300px;
}

.accordion {
  background-color: transparent;
  color: #333;
  cursor: pointer;
  padding: 17px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
}

.active, .accordion:hover {
  background-color:transparent;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border: 1px solid #ccc;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
  margin: 0;
  overflow: hidden;
}

.card {
  width: 60%;
  height: auto;
  display: absolute;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: #ffffff73;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.card-footer {
  font-size: 1.2em;
  color: #446;
  position: absolute;
  right:2%;
}
